body { 
    background-color: aliceblue;
    color: blue;
    text-align: justify;
    font-size: 25px;
    }

    h1 {
        background-color: black;
        color:white;
        text-align: center;
        font-size:  30px;
